*{
    padding: 0;
    margin: 0;
}
// 侧边栏展开时样式
.el-menu-vertical-demo:not(.el-menu--collapse) {
    min-height: 100vh;
    overflow-y: scroll;
    width: 160px;
    .title{
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        text-align: center;
    }                                                                                                                                                                                                                                                                                                                
}
// 侧边栏合起时样式
.el-menu-vertical-demo {
    min-height: 100vh;
    .title{
        text-align: center;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        font-size: 0;
        .icon-logo{
            height: 3rem;
            width: 3rem;
        }
    }
}
